@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenue à l'Université Contoso</h2>
        <p>
            Contoso University est un exemple d'application qui
            montre comment utiliser Entity Framework Core dans un
            Application Web ASP.NET Core MVC.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Construisez-le à partir de zéroh</h2>
        <p>Vous pouvez créer l'application en suivant les étapes d'une série de didacticiels.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>Vous pouvez télécharger le projet terminé depuis GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>
